@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
body {
  min-height: 100vh;
  background-color: rgb(249 250 251);
}
a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(209 213 219);
}

.app-content {
  display: flex;
  position: relative;
  background-color: rgb(249 250 251);
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cursor {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}

@keyframes dropdownOpen {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
