.add-add {
  width: 70%;
  color: #6d6d6d;
  font-size: 16px;
  display: grid;
  /* margin-left: max(0%, 10px); */
}

.flex-col-col {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 100px;
  gap: 30px;
}

.add form {
  gap: 30px;
}

.add-product-names input,
.add-product-descriptions textarea {
  display: inline-block;
  width: 250px;
  height: 40px;
  padding: 10px;
}

.add-category-price select,
.add-category-price input {
  display: inline-block;
  padding: 10px;
}

.add-buttons {
  max-width: 120px;
  border: none;
  padding: 10px;
  background-color: #1d4ed8;
  color: white;
  cursor: pointer;
}
.add-add p {
  text-align: left;
  font-weight: 500;
  color: rgb(15 23 42);
}
.upload-container {
  display: flex;
  flex-direction: row;
  /* width: 50%; */
  gap: 40px;
}
.upload-container input[type="file"] {
  display: none;
  /* margin-left: 45px; */
}
.upload-container label {
  background-color: rgb(29 78 216);

  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px;

  margin-left: 5px;
  text-align: center;
}
.upload-container label p {
  color: rgb(248 250 252);
  margin-top: 8px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.flex-container input,
.description-container textarea,
.category-container select,
.product-container input {
  border: 2px solid #3b82f6;
  border-radius: 3px 3px 3px 3px;
}
.flex-container input:focus {
  outline: none;
}
.flex-container input {
  display: inline-block;
  margin-left: 52px;
}

.description-container {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.description-container textarea {
  display: inline-block;
  height: 70px;
  padding: 10px;
}
.description-container textarea:focus {
  outline: none;
}

.category-container {
  display: flex;
  gap: 60px;
  justify-self: center;
}
.category-container select {
  display: inline-block;
  width: 250px;
  height: 40px;
  margin-left: 14px;
}
.product-container {
  display: flex;
  gap: 62px;
}
.product-container input {
  display: inline-block;
  width: 250px;
  height: 40px;
  margin-left: 53px;
  padding: 10px;
}
.product-container input:focus {
  outline: none;
}
.add-buttonss {
  max-width: 130px;
  border: none;
  padding: 10px 20px;
  background-color: #1d4ed8;
  color: white;
  cursor: pointer;
  margin-left: 160px;
  border-radius: 3px 3px 3px 3px;
}
.edit-image {
  display: inline-block;
  width: 60px;
  height: 60px;
}

@media (max-width: 700px) {
  .flex-col-col {
    margin-left: 50px;
  }

  .add-product-names input,
  .add-product-descriptions textarea {
    width: 150px;
  }
  .category-container select {
    width: 150px;
  }
  .product-container input {
    width: 150px;
  }
}

@media (max-width: 450px) {
  .flex-col-col {
    margin-top: 10px;
  }
  .flex-container {
    flex-direction: column;
    gap: 10px;
  }
  .flex-container input {
    margin-left: 0;
  }
  .product-container {
    flex-direction: column;
    gap: 10px;
  }
  .product-container input {
    margin-left: 0;
  }
  .category-container {
    flex-direction: column;
    gap: 10px;
  }
  .category-container select {
    margin-left: 0;
  }

  .description-container {
    flex-direction: column;
    gap: 10px;
  }

  .description-container textarea {
    margin-left: 0px;
  }

  .upload-container {
    flex-direction: column;
    gap: 10px;
  }
  .upload-container label {
    margin-left: 0px;
    display: inline-block;
    width: 150px;
  }
  .add-buttonss {
    margin-left: 0px;
  }
}
