/* src/SearchBar.css */
.SearchNavbar input {
  display: inline-block;
  padding: 10px;
  width: 250px;
  margin-bottom: 20px;
  position: relative;
  border: 2px solid #49557e;
}

.SearchNavbar ul {
  position: absolute;
  top: 100%;
  left: 5%;
  background-color: #f3f4f6;
  list-style-type: none;
  padding: 20px 50px;
  z-index: 10;
  border-radius: 5px 5px 5px 5px;
}

.SearchNavbar ul li {
  padding-top: 5px;
  border-bottom: 1px solid #94a3b8;
}

.SearchNavbar ul li {
  padding-bottom: 10px;
}
.SearchNavbar ul li:hover {
  cursor: pointer;
  color: #ea580c;
}
.search {
  display: inline-block;
  width: 200px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid #334155;
}

.search:focus {
  outline: none;
}
.SearchNavbar {
  display: grid;
  justify-self: center;
  align-self: center;
  margin-top: 15px;
  gap: 20px;
}
@media (max-width: 600px) {
  .SearchNavbar input {
    width: 150px;
  }
}

@media (max-width: 470px) {
  .SearchNavbar input {
    width: 100px;
  }
}
