.sidebar {
  /* background-color: rgb(255 255 255); */
  width: 15%;
  min-height: 100vh;
  border-right: 1px solid rgb(241 245 249);

  border-top: 0;
  font-size: max(1vw, 10px);
}

.sidebar-options {
  padding: 7%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.sidebar-option {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 12px;
  /* border: 1px solid; */
  /* border-image-slice: 1; */
  /* border-width: 1.5px ; */

  padding: 8px;
  /* border-radius: 3px 0px 0px 3px; */
  cursor: pointer;
  padding-left: 10px;
}
.sidebar-options p {
  font-size: 17px;
  color: rgb(107 114 128);
  font-weight: 500;
  text-transform: uppercase;
}
.sidebar-option.active,
.sidebar-option:hover {
  background-color: rgb(241 245 249);
  border-radius: 3px 3px 3px 3px;
}

.sidebar-option.active svg,
.sidebar-option:hover svg {
  stroke: rgb(30 64 175);
}

@media (max-width: 750px) {
  .sidebar-options p {
    display: none;
  }
}
