.orders {
  max-width: 100%;
}

.order-item {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: start;
  gap: 30px;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1.5px;
  border-image-source: linear-gradient(
    to right,
    #d8f5a2,
    #a9e34b,
    #37b24d,
    #2b8a3e,
    #15aabf,
    #2b8a3e,
    #a9e34b
  );
  padding: 20px;
  margin: 30px 0;
  font-size: 14px;
  color: #505050;
}

.order-item img {
  width: 50px;
}

.order-item-food,
.order-item-name {
  font-weight: 600;
}

.order-item-name {
  margin-top: 30px;
  margin-bottom: 5px;
}

.order-item-address {
  margin-bottom: 10px;
}

.order-items-select {
  background-color: #e7f5ff;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(
    to right,
    #d8f5a2,
    #a9e34b,
    #37b24d,
    #2b8a3e,
    #15aabf,
    #2b8a3e,
    #a9e34b
  );
  width: max(10vw, 120px);
  padding: 10px;
  outline: none;
}
.loadingComponent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

@media (max-width: 1000px) {
  .order-item {
    font-size: 12px;
    grid-template-columns: 0.5fr 2fr 1fr;
    padding: 15px 8px;
  }
  .order-items-select {
    padding: 5px;
    font-size: 12px;
  }
  .order-item img {
    width: 40px;
  }
}
