.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}

.navbar .logo {
  width: max(10%, 80px);
  height: 60px;
}

.profile-icon {
  width: 35px;
  cursor: pointer;
}

.navbar-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.nav-profile-dropdown li {
  border: 1px solid #49557e;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 5px 5px 5px 5px;
  color: inherit;
  list-style: none;
}
.nav-profile-dropdown img {
  color: tomato;
}
.nav-profile-dropdown p {
  cursor: pointer;
  font-size: 20px;
  padding: 4px 8px;
  border-radius: 5px 5px 5px 5px;
  color: inherit;
}

.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 20px;
  top: 55px;
  z-index: 1;
  animation: dropdownOpen 0.3s;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff2ef;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
  align-items: center;
  z-index: 10000;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  cursor: pointer;
}
.nav-profile-dropdown img {
  width: 20px;
  height: 20px;
}
.nav-profile-dropdown li:hover {
  color: tomato;
}

.theme {
  width: 40px;
  height: 40px;
}
.theme:hover {
  stroke: tomato;
}
p {
  text-align: center;
}
.navbar-profile .profile-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.admin-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #49557e;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 5px 5px 5px 5px;
}
.admin-profile:hover {
  color: tomato;
}
