.add-category {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}

.add-category form {
  gap: 20px;
}

.add-category-img-upload img {
  width: max(30%, 240px);
  height: 150px;
}

.add-category-img-upload p {
  /* color: rgb(17 24 39); */
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}
.add-category-product-name {
  width: max(30%, 280px);
}

.add-category-product-name p {
  /* color: rgb(17 24 39); */
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}
.add-category-product-name input {
  display: inline-block;
  width: 100%;
  height: 40px;
  border: 2px solid rgb(37 99 235);
  padding: 10px;
}
.add-category-product-name input:focus {
  outline: none;
}

.add-category-button {
  width: max(30%, 280px);
  border: none;
  padding: 20px 40px;
  background-color: rgb(37 99 235);
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
}
