.header {
  height: 34vw;
  margin: 0 auto;
  background-image: linear-gradient(
      to right bottom,
      rgba(130, 201, 30, 0.4),
      rgba(92, 148, 13, 0.4)
    ),
    url("./food-1.avif");

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  z-index: 0;
  border-radius: 10px 10px 10px 10px;
}
/*  width: 52%;

  position: absolute;
  top: 5%;
  left: 25%;
  z-index: -2;

  /* display: block; */

/* animation: rotate360 20s linear infinite; */
.header-contents {
  max-width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}
.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  color: white;
  font-size: 1.3vw;
}
.header-contents button {
  border: none;
  background-color: white;
  border-radius: 50px;
  font-weight: 500;
  color: #747474;
  padding: 1vw 2.3vw;
  font-size: max(1vw, 13px);
  cursor: pointer;
  position: relative;
}
.header-contents button::after {
  content: "";
  height: 50%;
  width: 50%;
  border: none;
  background-color: white;
  border-radius: 50px;
  font-weight: 500;
  color: #747474;
  padding: 1vw 2.3vw;
  font-size: max(1vw, 13px);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.header-contents button:hover {
  box-shadow: 0 10px 20px rgba(black, 0.2);
  transform: translateY(-3px);
}
.header-contents button:active {
  transform: translateY(-1px);
}

.header-contents button:hover::after {
  transform: scale(2);
  opacity: 0;
}
@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
}
