.dashboard-container {
  padding-top: 20px;
  padding-bottom: 50px;
  width: 85%;
  height: 100%;
  z-index: 10;
  color: rgb(249 250 251);
  background-color: rgb(2 6 23);
}

.dashboard-statics-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin: 0 auto;
  padding: 10px 20px;
  column-gap: 15px;
  row-gap: 15px;
  border-radius: 5px 5px 5px 5px;
}
.dashboard-statics {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  border-radius: 5px 5px 5px 5px;
}
/* .dashboard-statics-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
.sold-amount {
  background-color: rgb(15 23 42);
}
.sold-amount .dashboard-statics-icon {
  background-color: rgb(220 252 231);
}

.categories {
  background-color: rgb(15 23 42);
}

.categories .dashboard-statics-icon {
  background-color: rgb(217 249 157);
}

.orders {
  background-color: rgb(15 23 42);
}
.orders .dashboard-statics-icon {
  background-color: rgb(252 211 77);
}
.products {
  background-color: rgb(15 23 42);
}
.products .dashboard-statics-icon {
  padding: 5px;
  background-color: rgb(165 180 252);
}
.delivered {
  background-color: rgb(15 23 42);
}
.delivered .dashboard-statics-icon {
  background-color: rgb(134 239 172);
}
.pending {
  background-color: rgb(15 23 42);
}
.pending .dashboard-statics-icon {
  background-color: rgb(94 234 212);
}
.feedbacks {
  background-color: rgb(15 23 42);
}
.feedbacks .dashboard-statics-icon {
  background-color: rgb(253 186 116);
}
.users {
  background-color: rgb(15 23 42);
}
.users .dashboard-statics-icon {
  background-color: rgb(253 224 71);
}
.categories {
  background-color: rgb(15 23 42);
}

.dashboard-statics-icon {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(226 232 240);
  position: relative;
}
.dashboard-statics-icon span {
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.dashboard-statics-content .name {
  color: rgb(244 244 245);
  font-weight: 500;
  font-size: 10px;
}
.dashboard-statics-content .number {
  color: rgb(244 244 245);
  font-weight: 500;
  font-size: 20px;
}

.dashboard-chart-container {
  width: 100%;
  padding: 0px 12px;
  margin: 0px auto;
  margin-top: 5px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  align-items: center;
  justify-content: start;
  gap: 5px;
  margin-bottom: 20px;
}
.rating-component {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.line-charts h3 {
  margin-bottom: 20px;
  color: white;
  font-size: 15px;
  text-align: center;
}
.line-charts {
  width: 98%;
  height: 85%;
  justify-self: center;
  align-items: center;
  background-color: rgb(15 23 42);
  padding: 15px 20px;
  border-radius: 5px 5px 5px 5px;
  /* box-shadow: 0px 0px 3px rgb(203 213 225); */
}
.line-charts p {
  text-align: center;
}

@media (max-width: 450px) {
  .dashboard-chart-container {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
