.list-table-formated {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}

.category-list-flex-col {
  width: 75%;
  margin-left: 30px;
  margin-top: 30px;
}

.list-table-formated.title {
  /* background-color: #f9f9f9; */
}
.list-table-formated {
  text-align: center;
}
.list-table-formated img {
  /* text-align: center; */
  justify-self: center;
  width: 50px;
}
.list-table-formated p {
  text-align: center;
}
.loadingComponent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

@media (max-width: 600px) {
  .list-table-formated {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }

  .list-table-formated.title {
    display: none;
  }
}
